[MAIN]
ignore=.venv

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    consider-using-max-builtin,
    duplicate-code,
    import-outside-toplevel,
    invalid-name,
    line-too-long,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    protected-access,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-positional-arguments,
    too-many-statements,
    too-many-nested-blocks

